body{
	background-color: #9ddfd3;
}

hr{
	width: 70%;
	background-color: white;
	height: 3px;
	border-style: none;
}

h1 {
	color: white;
	font-family: courier new;
}

h3 {
	color: white;
	font-family: courier new;
}


p{
	font-family: courier new;
}

table{
	font-family: courier new;

	}

ul{
	font-family: courier new;
}

.data{
	margin: auto;
	width: 75%
  
}

